:80 {
    encode gzip zstd

    handle /api/* {
        reverse_proxy backend:8001
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }

    log {
        output stdout
        format console
    }
}
